{% extends "base.html" %}{% block title %}Frequently asked questions{% endblock %}{% block body %}
<div class="applybox faq">
<h1 class="applytitle" style="text-align:left">Frequently asked questions</h1>
{% for it in faqs %}<h3>{{ it.q }}</h3><p>{{ it.a }}</p>{% endfor %}
<h3 style="text-transform:uppercase">Please contact {{ biz_name }} with any questions about disputes, refunds or customer service</h3>
{% if biz_phone %}<p class="faqbig"><a href="tel:{{ biz_tel }}">{{ biz_phone }}</a></p>{% endif %}
{% if biz_email %}<p class="faqbig"><a href="mailto:{{ biz_email }}">{{ biz_email }}</a></p>{% endif %}
{% if biz_address %}<p class="faqbig">{{ biz_address }}</p>{% endif %}
</div>
{% endblock %}